{% extends 'base.html' %}

{% block title %}{{ question.title }}{% endblock %}

{% block content %}
    <div class="ui grid">
        <div class="eleven wide column">
            <div class="card">
                <div class="content"></div>
                <div class="content">
                    <div class="header">{{ question }}</div>
                    <div class="description">
                        {{ question.body }}
                    </div>
                </div>
            </div>
        </div>
        <div class="five wide column orange">
            {#  {% similar_questions question %} #}
        </div>
    </div>
{% endblock %}
