{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}知乎，与世界分享你的故事{% endblock %}</title>
    <link href="{% static 'css/semantic.min.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    <script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

    <style type="text/css">
        body {
        }

        .ui.menu .item img.logo {
            margin-right: 1.5em;
        }

        .main.container {
            margin-top: 7em;
        }

        .ui.footer.segment {
            margin: 5em 0em 0em;
            padding: 5em 0em;
        }
    </style>
</head>
<body>
<!-- navbar begins -->
<div class="ui menu">
    <div class="ui container">
        {% url 'index' as i %}
        {% url 'question' as q %}
        {% url 'topic' as t %}
        {% url 'activity' as a %}
        <a href="{{ i }}" class="header {% if request.path == i %} active {% endif %} item">
            伪乎
        </a>
        <a href="{{ q }}" class="{% if request.path == q %} active {% endif %} item">问题</a>
        <a href="{{ t }}" class="{% if request.path == t %} active {% endif %} item">话题</a>
        <a href="{{ a }}" class="{% if request.path == a %} active {% endif %} item">动态</a>
        <div class="item">
            <form action="{% url 'search' %}" method="get">
                <div class="ui icon input">
                    <input placeholder="Search..." type="text">
                    <i class="search link icon"></i>
                </div>
            </form>
        </div>
        <div class="item">
            <a class="ui primary button" href="{% url 'ask' %}">
                提问
            </a>
        </div>

        <!-- menu right begins -->
        <div class="right menu">

            {% if request.user.is_authenticated %}
                <div class="ui simple right floated dropdown item">
                    <a href="#" class="ui primary button">{{ request.user }} <i class="dropdown icon"></i></a>
                    <div class="menu transition" tabindex="-1">
                        <a class="item" href="{{ request.user.get_absolute_url }}">主页</a>
                        <a class="item" href="{% url 'account:logout' %}">退出</a>
                    </div>
                </div>
            {% else %}

                <div class="right menu">
                    <div class="item">
                        <a class="ui button" href="{% url 'account:login' %}">登录</a>
                    </div>
                    <div class="item">
                        <a class="ui primary button" href="{% url 'account:register' %}">加入我们</a>
                    </div>
                </div>


            {% endif %}
        </div>
        <!-- menu right ends -->
    </div>

</div>
<!-- navbar ends -->


<div class="segement message is-info">
    {% if messages %}
        <div class="message-body">

            <ul class="list">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                    </li>
                {% endfor %}
            </ul>

        </div>
    {% endif %}
</div>

{% block content %}{% endblock %}


<!-- footer begins here -->
<div class="ui inverted vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Group 1</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Group 2</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Group 3</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Link One</a>
                    <a href="#" class="item">Link Two</a>
                    <a href="#" class="item">Link Three</a>
                    <a href="#" class="item">Link Four</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Footer Header</h4>
                <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <img src="assets/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="#">Site Map</a>
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
        </div>
    </div>
</div>
<!-- footer ends here>

<!-- scripts begin here -->
<script>
    var csrftoken = $.cookie('csrftoken');

    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomin) {
                xhr.setRequestHeader('X-CSRFToken', csrftoken);
            }
        }
    });
    $(document).ready(function () {
        {% block domready %}
        {% endblock %}
    });

</script>
<!-- scripts end here -->
</body>
</html>