{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}知乎，与世界分享你的故事{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div id="header">
    <span class="logo"><a href="{% url 'index' %}">知乎</a></span>
    <ul class="menu">
    {% url 'activity' as a %}
    {% url 'topic' as t %}
    {% url 'question' as q %}
    {% url 'ranking' as r %}
        <li {% if q == request.path %}class="selected"{% endif %}>
            <a href="{{ q }}">问题</a>
        </li>
        <li {% if r == request.path %}class="selected"{% endif %}>
            <a href="{{ r }}">最热</a>
        </li>

        <li {% if t == request.path %}class="selected"{% endif %}>
            <a href="{{ t }}">话题</a>
        </li>

        <li {% if a == request.path %}class="selected"{% endif %}>
            <a href="{{ a }}">动态</a>
        </li>
    </ul>
    <span class="user">
    {% if request.user.is_authenticated %}
    Hello <a href="{{ request.user.get_absolute_url }}">{{ request.user }}</a>
        <a href="{% url 'account:logout' %}">退出</a>
    {% else %}
        <a href="{% url 'account:login' %}">登录</a>
        or
        <a href="{% url 'account:register' %}">注册</a>
    {% endif %}
    </span>
</div>
{% if messages %}
    <ul class="messages">
    {% for message in messages %}
    <li class="{{ message.tags }}">
    {{ message|safe }}
        <a href="#" class="close"></a>
    </li>
    {% endfor %}
    </ul>
{% endif %}
<div id="content">
{% block content %}
{% endblock %}
</div>

<!-- scripts begin here -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script>
    var csrftoken = $.cookie('csrftoken');
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
       beforeSend: function(xhr, settings) {
           if (!csrfSafeMethod(settings.type) && !this.crossDomin){
               xhr.setRequestHeader('X-CSRFToken', csrftoken);
           }
       }
    });
    $(document).ready(function() {
        {% block domready %}
        {% endblock %}
    });

</script>
<!-- scripts end here -->
</body>
</html>